// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------
$screenL: 1287px;
$screenM: 1288px;
$screenS: 767px;
$screenXS: 480px;

$wrapperL: 1248px;
$wrapperM: 725px;
$wrapperS: 448px;
$wrapperXS: 290px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cGreen: #18e28f;   // Main green
$cBlue: #16171a;   // Main dark blue
